<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="nav">
  <div class="nav-left">
    <a class="normalClass" [ngClass]="{'setBlue':activeTag[0]}" (click)="activeTag = [true,false,false,false]">All</a>
    <a class="normalClass" [ngClass]="{'setBlue':activeTag[1]}" (click)="activeTag = [false,true,false,false]">Bags</a>
    <a class="normalClass" [ngClass]="{'setBlue':activeTag[2]}" (click)="activeTag = [false,false,true,false]">Cakes</a>
    <a class="normalClass" [ngClass]="{'setBlue':activeTag[3]}" (click)="activeTag = [false,false,false,true]">Games</a>
  </div>
  <div class="nav-right">
    <a style="text-decoration:none;color:rgba(255, 255, 255, 0.65)" [routerLink]="['/login']">Login</a>
    <a style="text-decoration:none;color:rgba(255, 255, 255, 0.65)" [routerLink]="['/register']">Register</a>
  </div>
</div>
<div class="content" style="margin-bottom: 30px;">
  <section class="content-left">
    <h2>Shopping Items</h2>
    <app-cakes *ngIf="activeTag[2] || activeTag[0]"></app-cakes>
    <app-games *ngIf="activeTag[3] || activeTag[0]"></app-games>
    <app-bags *ngIf="activeTag[1] || activeTag[0]"></app-bags>
  </section>
  <section class="content-right">
    <h2 style="margin-left: 0;">CheckOut</h2>
    <app-checkout></app-checkout>
    <h2 style="margin-top:60px;margin-left: 0;">Favourites</h2>
    <app-favourite></app-favourite>
  </section>

</div>
<Footer style=" text-align: center; background: #001529; color: white; padding: 25px; display: flex; justify-content: center;
      align-items: center">
  Shopping Project With Angular ©2020 Created by Nicha N.</Footer>