<div class="outerDiv">
  <div class="itemCard" *ngFor="let item of items">
    <div class="cardTop">
      <img [src]="item.image" alt="image">
      <div class="itemTitle">{{item.title}}</div>
    </div>
    <div class="cardBottom">
      <div>${{item.price}}</div>
      <div class="cardDivRight">
        <i class="material-icons" style="font-size: 20px;margin-right: 10px;">favorite</i>
        <i class="material-icons" style="font-size: 20px;">shopping_cart</i>
      </div>
    </div>
  </div>
</div>